<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="URL_REQUESTS" type="Text"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WealthLabPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Begin Data chunking sizes -->
    <add key="ChunkDays1MinBars" value="60"/>
    <add key="ChunkDays3MinBars" value="90"/>
    <add key="ChunkDays5MinBars" value="120"/>
    <add key="ChunkDays10MinBars" value="150"/>
    <add key="ChunkDays15MinBars" value="180"/>
    <add key="ChunkDays30MinBars" value="210"/>
    <add key="ChunkDays60MinBars" value="240"/>
    <add key="ChunkDays90MinBars" value="360"/>
    <!-- End Data chunking sizes -->
    <!-- Equity Margin Factor -->
    <add key="MaxEquityMarginFactor" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!-- Logging section -->
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="${APPDATA}\\Fidelity Investments\\WealthLabPro\\1.0.0.0\\Logs\\wlp.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}\\Fidelity Investments\\WealthLabPro\\1.0.0.0\\Logs\\wlp.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="5MB"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!-- Logging level - choose between
          Off   - no logging, this is the default value
          All   - the lowest level possible
          Debug - fine-grained informational events that are most useful to debug an application
          Info  - informational logging
          Warn  - potentially harmful situations
          Error - error events that might still allow the application to continue running
          Fatal - severe error events that will presumably lead the application to abort
      -->
      <level value="Error"/>
      <!-- Uncomment the appender(s) you wish to log to -->
      <!-- <appender-ref ref="Console" /> -->
      <!-- <appender-ref ref="TraceAppender" /> -->
      <!-- <appender-ref ref="FileAppender" /> -->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <URL_REQUESTS>
    <FIAuthenticate method="POST" content="plain-text" 
                    url="https://login.fidelity.com/ftgw/Fidelity/RtlCust/Login/Response/df.chf.ra/Atng" 
                    urlXQ="https://loginxq1.fidelity.com/ftgw/Fidelity/RtlCust/Login/Response/df.chf.ra/Atng" 
                    urlQA="https://loginqa1.fmr.com/ftgw/Fidelity/RtlCust/Login/Response/df.chf.ra/Atng" 
                    template="SSN=@SSN@&amp;PIN=@PIN@&amp;ClientMajorVersion=600&amp;ClientMinorVersion=0" priority="HIGH" retries="1"/>
    <OLTX method="POST" content="plain-text" 
          url="https://www.fidelity.com/products/atp/config/configuration-10-5-1.shtml" 
          urlXQ="https://wwwxq1.fidelity.com/products/atp/config/configuration-10-5-1.shtml" 
          urlQA="https://wwwqa1.fmr.com/products/atp/config/configuration-10-5-1.shtml" 
          priority="HIGH" retries="1"/>
    <WatchlistGet url="https://watchlists.fidelity.com/ftgw/fbc/ofwatchlist/ATPWatchlist" template="XML=%3cGetWatchlist%3e%3cuuid%3efe8b430a-223a-11de-bd87-ac196951aa77%3c%2fuuid%3e%3clistId%3e@WATCHLIST_ID@%3c%2flistId%3e%3clistType%3e@WATCHLIST_TYPE@%3c%2flistType%3e%3c%2fGetWatchlist%3e" method="POST"/>
    <WatchlistAdd url="https://watchlists.fidelity.com/ftgw/fbc/ofwatchlist/ATPWatchlist" template="XML=%3CEditWatchlist%20tran%3D%22@TRAN_ID@%22%3E%3Cuuid%3Efe8b430a-223a-11de-bd87-ac196951aa77%3C/uuid%3E%3CacctName%3E@WATCHLIST_NAME@%3C/acctName%3E%3CcashBalance%3E@CASH_BAL@%3C/cashBalance%3E@POSITION_LIST@%3C/EditWatchlist%3E" method="POST"/>
    <AFAuthenticate AllowOverride="False" LogMarketData="False" AllowNonMarketHoursTradeTicks="False" SubscriptionCharacters="@_" CharacterAppendMode="P"/>
    <!--SubscriptionCharacters ="." CharacterAppendMode = "S"/>-->
  </URL_REQUESTS>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <WealthLabPro.Properties.Settings>
      <setting name="WealthLabPro_WealthSignalsWebService_Service" serializeAs="String">
        <value>https://www.wealth-lab.com/services/wealth-signals/WealthSignalsService.asmx</value>
      </setting>
    </WealthLabPro.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
